<div class="row">
    <div class="col-6 offset-3 pt-6 text-center mr-2">
            <h4 class="lead text-muted text-center">Angular State Management App</h4>
            <input type="text" #name placeholder="Enter Your Name" class="form-control m-2"> 
            <input type="text" #email placeholder="Enter Your Email" class="form-control m-2">
            <button class="btn btn-secondary btn-block btn-sm btn-outline-success text-white" (click)="onSubmit(name.value,email.value)">ADD</button> 
    </div>
</div>